{% extends 'layout.html' %}


{% block content %}
    <div class="container">
        <div class="container" style="margin-bottom: 10px">
            <div style="...">
                <a class="btn btn-success" href="/depart/add/">
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                    新建部门
                </a>
            </div>
        </div>

        <div class="bs-example" data-example-id="panel-without-body-with-table"
             style="background-color: rgb(193, 230, 198); border-color: rgba(0, 0, 0, 0.35);">
            <div class="panel panel-default"
                 style="background-color: rgb(193, 230, 198); border-color: rgba(0, 0, 0, 0.35);">
                <!-- Default panel contents -->
                <div class="panel-heading"
                     style="background-color: rgb(193, 230, 198); border-color: rgba(0, 0, 0, 0.35);">
                    部门列表
                </div>

                <!-- Table -->
                <table class="table" style="border-color: rgba(0, 0, 0, 0.35);">
                    <thead style="border-color: rgba(0, 0, 0, 0.35);">
                    <tr style="border-color: rgba(0, 0, 0, 0.35);">
                        <th style="border-bottom-color: rgba(0, 0, 0, 0.35);">ID</th>
                        <th style="border-bottom-color: rgba(0, 0, 0, 0.35);">部门名称</th>
                        <th style="border-bottom-color: rgba(0, 0, 0, 0.35);">操作</th>

                    </tr>
                    </thead>
                    <tbody style="border-color: rgba(0, 0, 0, 0.35);">
                    {% for obj in queryset %}
                        <tr style="border-color: rgba(0, 0, 0, 0.35);">
                            <th scope="row" style="border-top-color: rgba(0, 0, 0, 0.35);">{{ obj.id }}</th>
                            <td style="border-top-color: rgba(0, 0, 0, 0.35);">{{ obj.title }}</td>
                            <td style="border-top-color: rgba(0, 0, 0, 0.35);">
                                <a class="btn btn-primary" href="/depart/{{ obj.id }}/edit/">编辑</a>
                                <a class="btn btn-danger" href="/depart/delete/?id={{ obj.id }}">删除</a>
                            </td>
                        </tr>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
</form>
</body>
</html>